{% extends "base.html" %}

{% block content %}
<section class="h-100 gradient-form">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <h3 class="mt-1 mb-5 pb-1">LOGIN FORM</h3>
                </div>
                <form action="{{url_for('adminlogin')}}" onsubmit="return !! (verifyPassword() & checkEmail())"
                  method="POST">
                  <p>Please login to your account :</p>
                  <div class="form-outline mb-4">
                    <label class="form-label">Email :</label>
                    <input type="text" class="form-control" name="email" id="chkemail" placeholder="Email address" />
                    <span id="chemail" class="error"></span>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label">Password :</label>
                    <input type="password" name="password" id="pswd" class="form-control" placeholder="Password" />
                    <span id="message" class="error"></span>
                  </div>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 back-btn"
                      type="submit">Login</button>
                  </div>
                </form>
                {% if error %}
                <p class="error">{{ error }}
                  {% endif %}
                  {% if msgg%}
                  <p class="error">{{ msgg }}
                    {% endif%}

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Mockplus-Design Faster</h4>
                <p class="small mb-0">
                  A login page is of extreme importance to web and app design, especially for online stores or
                  e-commerce websites. A creative and attractive login page will quickly catch the user’s attention,
                  direct a high volume of visitors to your website, and increase the customer base. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}